{% autoescape off %}Dear VoteWind.org user,

Thank you for voting for the wind turbine site at {{ site.latitude }}°N, {{ site.longitude }}°E.

To confirm your vote, please click this link:
<a href="https://{{ domain }}{% url 'confirmvote' uidb64=uid token=token %}">https://{{ domain }}{% url 'confirmvote' uidb64=uid token=token %}</a>

If the link does not work, copy and paste this address into your browser directly:
https://{{ domain }}{% url 'confirmvote' uidb64=uid token=token %}

Best wishes,

{{ domain }}

{% endautoescape %}
