<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

    <application>

        <!-- Remove the unnecessary FileProvider from WebView plugin -->
        <provider
            android:authorities="org.votewind.viewer.unitywebview.fileprovider"
            tools:node="remove" />

        <service
            android:name="org.votewind.screenrecord.MediaProjectionForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name="org.votewind.screenrecord.CustomUnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:enabled="true"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/UnityThemeSelector">

            <!-- Default launch intent -->
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <!-- Deep link intent -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="votewind-ar" />
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>

        <activity
            android:name="net.gree.unitywebview.CUnityPlayerActivity"
            tools:node="remove"/>
    
        <!-- Add any other activity (e.g., Facebook login) below if needed -->

    </application>
</manifest>
